git+https://github.com/dbt-labs/dbt-core.git@rpc_support_python_compile#egg=dbt-core&subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@rpc_support_python_compile#egg=dbt-postgres&subdirectory=plugins/postgres

flake8
pytest
pytest-xdist
pytest-dotenv
tox>=3.13
pyyaml
