git+https://github.com/dbt-labs/dbt-core.git@1fbcaa44841029364042a1bbd89035f2d97e2f18#subdirectory=core
git+https://github.com/dbt-labs/dbt-core.git@1fbcaa44841029364042a1bbd89035f2d97e2f18#subdirectory=plugins/postgres

flake8
pytest
pytest-xdist
pytest-dotenv
tox>=3.13
pyyaml
